{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"printWidth": 88,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": false,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": false,
	"trailingComma": "none",
	"useTabs": true
}
