<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/tailwind.css" />
    <link rel="stylesheet" href="/static/css/captcha.css" />
    <title>Please solve this SpeakCaptcha.</title>
    <script>
      // expose jinja template variables to javascript
      var captcha_id = "{{captcha_id}}";
    </script>
  </head>
  <body>
    <div class="speakcaptcha-container" id="speakcaptcha-{{ captcha_id }}" data-id="{{ captcha_id }}">
      <div class="speakcaptcha-box">
        <div class="speakcaptcha-image" style="display: none">
          <img src="data:image/png;base64,{{ captcha }}" alt="An image showing your SpeakCaptcha challenge." />
          <button
            class="speakcaptcha-button speakcaptcha-button-microphone"
            title="Record captcha answer"
            aria-label="Record captcha answer"
            onclick="window['{{ captcha_id }}'].listen()"
          >
            <svg
              width="24"
              height="24"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="9" y="2" width="6" height="12" rx="3" stroke="currentColor" stroke-width="1.5" />
              <path
                d="M5 10V11C5 14.866 8.13401 18 12 18V18V18C15.866 18 19 14.866 19 11V10"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M12 18V22M12 22H9M12 22H15"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button
            class="speakcaptcha-button speakcaptcha-button-reload"
            title="New captcha"
            aria-label="New captcha"
            onclick="window['{{ captcha_id }}'].newCaptcha()"
          >
            <svg
              width="24"
              height="24"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.8883 13.5C21.1645 18.3113 17.013 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C16.1006 2 19.6248 4.46819 21.1679 8"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17 8H21.4C21.7314 8 22 7.73137 22 7.4V3"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
        <div class="speakcaptcha-body">
          <p class="speakcaptcha-text speakcaptcha-text-info" style="display: none">
            Please click the microphone button and speak out the numbers (in English) that you see in the above image.
          </p>
          <p class="speakcaptcha-text speakcaptcha-text-solved" style="display: none">You have solved the captcha!</p>
          <p class="speakcaptcha-text speakcaptcha-text-js" style="display: block">
            You need to enable JavaScript to complete this captcha.
          </p>
          <p class="speakcaptcha-text speakcaptcha-text-nosupport" style="display: none">
            Your browser does not support <strong>Speak</strong>Captcha. Please upgrade your browser to complete this
            captcha.
          </p>

          <div class="speakcaptcha-audio" style="display: none">
            <div class="speakcaptcha-audio-line1">
              <button onclick="window['{{ captcha_id }}'].playRecording()" class="speakcaptcha-button-play">
                <svg
                  width="24"
                  height="24"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.90588 4.53682C6.50592 4.2998 6 4.58808 6 5.05299V18.947C6 19.4119 6.50592 19.7002 6.90588 19.4632L18.629 12.5162C19.0211 12.2838 19.0211 11.7162 18.629 11.4838L6.90588 4.53682Z"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                Play your recording
              </button>
              <button onclick="window['{{ captcha_id }}'].submit()" class="speakcaptcha-button-submit">
                <svg
                  width="24"
                  height="24"
                  stroke-width="1.5"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M5 13L9 17L19 7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Submit recording
              </button>
            </div>
            <div class="speakcaptcha-audio-line2">
              <p>Press the mic button to re-record audio. Press the tick button to submit.</p>
            </div>
          </div>

          <div class="speakcaptcha-incorrect" style="display: none">
            <p class="speakcaptcha-incorrect-text">
              Incorrect captcha! Please make sure to speak out the numbers (in English), one-by-one, as you see in the
              above image.
            </p>
            <p class="speakcaptcha-incorrect-transcript">You spoke: XXXXXXX</p>
            <p class="speakcaptcha-incorrect-helpful">
              Speak out the numbers like this: "five seven one three two nine"
            </p>
          </div>
        </div>
        <div class="speakcaptcha-footer">
          <a href="https://speakcaptcha.tk/accessibility">Accessibility</a>
          <div class="speakcaptcha-footer-section-2">
            <a href="https://speakcaptcha.tk/documentation/how-to-use-speakcaptcha">Help!</a>
            <a href="https://speakcaptcha.tk"><strong>Speak</strong>Captcha</a>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/captcha.js"></script>
  </body>
</html>
