---
title: "Getting Started with <strong>Speak</strong>Captcha"
summary: "Learn how to get started with <strong>Speak</strong>Captcha"
path: "getting-started"
---

Let's get started with **Speak**Captcha.

You will learn how you can add **Speak**Captcha to your web application and how you can validate the response on the backend.

## How **Speak**Captcha works
